.messages {
  padding: 0 60px 85px 0;
  text-align: center;

  &__title {
    font-size: 2rem;
  }

  &__btn {
    font-size: 1.3rem;
    border-radius: 4px;
    padding: 10px;
    background-color: rgb(251, 191, 36);
    color: rgb(217, 119, 6);
    border: solid 2px rgb(217, 119, 6);
  }
}