.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(245, 241, 231) solid;

    &__words {
        font-size: 0.85rem;

        line-height: 1rem;
        width: 250px;

        text-align: center;

        &__items {
            font-weight: 600;
        }
    }

    &__title {
        padding: 10px 10px 10px 40px;
        background-color: rgb(240, 239, 227);
        margin: 0;
    }

    &__img {
        &__image {
            width: 250px;
            height: 220px;
            border-radius: 4px;
            cursor: pointer;
            padding-top: 25px;
        }
    }

    &__btn {
        margin: 10px 0;
        font-size: 0.85rem;
        background-color: rgb(245, 241, 231);
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: rgb(240, 225, 186);
        }
    }
}
