.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    margin: 60px;
    justify-items: center;
    padding: 50px;

    @media only screen and (max-width: 576px) {
        margin: 0;
        padding: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    &__product {
        width: 320px;
        height: 220px;
        padding-bottom: 85px;
        text-align: center;

        @media only screen and (max-width: 576px) {
            width: 250px;
            height: 180px;
            padding-bottom: 50px;
        }

        &__img {
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }

        &__text {
            font-size: 1.3rem;

            @media only screen and (max-width: 576px) {
                font-size: 1rem;
            }
        }
    }

    a:-webkit-any-link {
        text-decoration: none;
        color: inherit;
    }
}
